openapi: 3.0.1
info:
  title: Gambio GX3 API
  description: "This is the Gambio GX Restful API documentation for the GX shop software.\
    \ You can find out more about Gambio at [http://www.gambio.de](http://www.gambio.de)."
  version: 3.9.0
servers:
- url: https://gambio-shop.de/shop1/api.php/v2
security:
- basicAuth: []
tags:
- name: address_formats
  description: Address Formats
- name: addresses
  description: Addresses
- name: cache
  description: Cache
- name: attachments
  description: Attachments
- name: categories
  description: Categories
- name: category_icons
  description: Category Icons
- name: category_images
  description: Category Images
- name: countries
  description: Countries
- name: cronjobs
  description: Cronjobs
- name: customer_groups
  description: Customer Groups
- name: customers
  description: Customers
- name: emails
  description: Emails
- name: manufacturers
  description: Manufacturers
- name: order_statuses
  description: Order Statuses
- name: orders_history
  description: Orders History
- name: parcel_services
  description: Parcel Services
- name: orders
  description: Orders
- name: payment_details
  description: Payment Details
- name: product_images
  description: Product Images
- name: product_prices
  description: Product Prices
- name: quantity_units
  description: Quantity Units
- name: products
  description: Products
- name: shop_information
  description: Shop Information
- name: reviews
  description: Reviews
- name: special_offers
  description: Special Offers
- name: tax
  description: Tax
- name: tracking_code
  description: Tracking Code
- name: tracking_codes
  description: Tracking Codes
- name: vpe
  description: Vpe
- name: withdrawal
  description: Withdrawal
- name: zones
  description: Zones
paths:
  /address_formats:
    get:
      tags:
      - address_formats
      summary: Get Address Formats
      description: Get all address formats or a single address format.
      operationId: getAddressFormats
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns an array of address formats"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXAddressFormat'
                x-content-type: application/json
        "400":
          description: (Invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Address Format Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /addresses/{address_id}:
    get:
      tags:
      - addresses
      summary: Get Address (Single)
      description: Get a single address record through a GET requets. This method
        supports all the GET parameters that are mentioned in the "Introduction" section
        of this documentation.
      operationId: getAddress
      parameters:
      - name: address_id
        in: path
        description: The ID of the address to fetch
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "Upon success, returns the address that was fetched"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXAddress'
        "404":
          description: (Invalid address ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - addresses
      summary: Update Address
      description: "Update an existing address record by providing new data. You do\
        \ not have to provide the full presentation of the address in the JSON string\
        \ of the request, rather just the fields to be updated. The address ID will\
        \ be taken from the URI of the request so it is not required that it is included\
        \ withing the request JSON."
      operationId: updateAddress
      parameters:
      - name: address_id
        in: path
        description: The ID of the address to be updated
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "Upon success, returns the updated address"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXAddress'
    delete:
      tags:
      - addresses
      summary: Delete Address
      description: "Remove an address record from the system. This method will always\
        \ return success even if the address record does not exist (due to internal\
        \ architecture decisions, which strive to avoid unnecessary failures)."
      operationId: deleteAddress
      parameters:
      - name: address_id
        in: path
        description: The ID of the address to be removed
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted addressID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressDeleteResponse'
        "400":
          description: (Address record ID not provided)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /addresses:
    get:
      tags:
      - addresses
      summary: Get Addresses (Multiple)
      description: Get multiple address records through a GET request. This method
        supports all the GET parameters that are mentioned in the "Introduction" section
        of this documentation.
      operationId: getAddresses
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns the address that was fetched"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXAddress'
                x-content-type: application/json
        "404":
          description: (Invalid address ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    post:
      tags:
      - addresses
      summary: Create Address
      description: Create an address record for a customer in the system.
      operationId: createAddress
      requestBody:
        description: The address to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GXAddress'
        required: true
      responses:
        "200":
          description: "Upon success, returns the newly created address"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomer'
        "400":
          description: (Address data was not provided)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: address
  /cache:
    delete:
      tags:
      - cache
      summary: Clear Shop Cache
      description: Clear the shop cache with a DELETE request.
      operationId: deleteCache
      responses:
        "200":
          description: "Upon success, returns the default success response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithFilename'
  /attachments:
    post:
      tags:
      - attachments
      summary: Upload Attachment
      description: "If an email contains an attachment this must be uploaded before\
        \ the email is sent. This method accepts the upload of one file at a time.\
        \ It will return its temporary path which can be used as the attachment path\
        \ in the email JSON data. The name of the file form field is not taken into\
        \ concern (can be whatever). The important rule is that only one file will\
        \ be uploaded at a time and that you are sending the Content-Type: multipart/form-data\
        \ header instead of application/json."
      operationId: uploadAttachments
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/attachments_body'
        required: true
      responses:
        "201":
          description: "Upon success, returns the default success response with the\
            \ attachment path"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachmentSuccessExample'
        "400":
          description: (No attachment file was provided)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /categories/{category_ids}:
    delete:
      tags:
      - categories
      summary: Delete Categories
      description: "Removes multiple category records from the database, provided\
        \ a comma-seperated list of IDs to delete."
      operationId: deleteCategories
      parameters:
      - name: category_ids
        in: path
        description: A comma-seperated list of category IDs to delete
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted category IDs"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryDeleteSuccessResponse'
        "400":
          description: (category ID missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /categories:
    get:
      tags:
      - categories
      summary: Get Categories (Multiple)
      description: Get multiple category records through a GET request. This method
        supports all the GET parameters that are mentioned in the "Introduction" section
        of this documentation. To see an example usage take a look at `docs/REST/samples/category-service/fetch_category.php`
      operationId: getCategories
      parameters:
      - name: recursive
        in: query
        description: "*Optional parameter*. If provided, recursively includes the\
          \ ressources child-resources."
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: boolean
      - name: changed
        in: query
        description: "*Optional parameter*. If provided, receive a change history\
          \ of items that were **changed/deleted** at the given date."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: modified
        in: query
        description: "*Optional parameter*. If provided, receive a change history\
          \ of items that were **modified** at a given date."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: deleted
        in: query
        description: "*Optional parameter*. If provided, receive a change history\
          \ of items that were **deleted** at the given date."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns an array of categories"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCategoryListing'
        "404":
          description: (Category does not exist)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - categories
      summary: Update Category (Multiple)
      description: "Use this method to update multiple existing category records.\
        \ It takes an array of GXCategory Objects, updating them based on their <b>id</b>\
        \ property."
      operationId: updateCategories
      requestBody:
        description: An array of categories to update.
        content:
          '*/*':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GXCategoryArray'
        required: true
      responses:
        "200":
          description: "Upon success, returns an array of the updated categories"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categoryArrayPutResponse'
        "400":
          description: (Missing data or ID invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCategoryArray
    post:
      tags:
      - categories
      summary: Create Categories
      description: "Creates new categories in the system by taking an array of categories.\
        \ It is also possible to provide a single <a href=\"/gambio-gx3-api/resources/gxcategory\"\
        >GXCategory</a> ressource, to create a single entry."
      operationId: createCategories
      requestBody:
        description: An array of categories
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GXCategoryArray'
        required: true
      responses:
        "201":
          description: "Upon success, returns the categories that was created"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categoryArrayPostResponse'
        "400":
          description: (Category data was not provided)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCategoryArray
  /categories/{category_id}:
    get:
      tags:
      - categories
      summary: Get Categories (Single)
      description: Get a single category record through a GET request. This method
        supports all the GET parameters that are mentioned in the "Introduction" section
        of this documentation. To see an example usage take a look at `docs/REST/samples/category-service/fetch_category.php`
      operationId: getCategory
      parameters:
      - name: category_id
        in: path
        description: The category ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns a category"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCategory'
        "404":
          description: (Category does not exist)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - categories
      summary: Update Category
      description: Use this method to update an existing category record. Take a look
        in the POST method for more detailed explanation on every resource property.
        To see an example usage take a look at `docs/REST/samples/category-service/update_category.php`
      operationId: updateCategory
      parameters:
      - name: category_id
        in: path
        description: The category ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: An array of categories to update.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXCategory'
        required: true
      responses:
        "200":
          description: "Upon success, returns the updated category"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCategory'
        "400":
          description: (Empty request body / Category record ID was not provided or
            is invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCategory
  /categories/{category_id}/products:
    get:
      tags:
      - categories
      summary: Get Category Products
      description: Get multiple product records of an specified category through a
        GET request. Using the `recursive` query parameter allows you to receive the
        products from the sub categories.
      operationId: getCategoriyProducts
      parameters:
      - name: recursive
        in: query
        description: "*Optional parameter*. If provided, recursively includes the\
          \ ressources child-resources."
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: boolean
      - name: category_id
        in: path
        description: The category ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns an array of products"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXProduct'
                x-content-type: application/json
        "404":
          description: (Category does not exist)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /categories/{category_id}/children:
    get:
      tags:
      - categories
      summary: Get Category Children
      description: Get multiple or a single sub category records of a given category
        through a GET request. This method supports all the GET parameters that are
        mentioned in the "Introduction" section of this documentation.
      operationId: getCategoryChildren
      parameters:
      - name: category_id
        in: path
        description: The parent category ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns an array of categories"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCategoryListing'
        "404":
          description: (Category does not exist)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /categories/search:
    post:
      tags:
      - categories
      summary: Search Categories
      description: Returns multiple categories that are respecting the given search
        condition. Further information about defining a search condition can be found
        in the <a href="/gambio-gx3-api/guides/search-example">Search Example</a>.
      operationId: searchCategories
      requestBody:
        description: The search condition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCondition'
        required: true
      responses:
        "200":
          description: "Upon success, returns an array of categories"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXCategory'
                x-content-type: application/json
      x-codegen-request-body-name: SearchCondition
  /category_icons:
    get:
      tags:
      - category_icons
      summary: Get Category Icons
      description: Returns a list of all category icon files which exists in the servers
        filesystem through a GET request.
      operationId: getCategoryIcons
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns an array of filenames"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categoryIconGetResponse'
        "400":
          description: (No category icons)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - category_icons
      summary: Rename Icon File
      description: Use this method to rename an existing icon file.
      operationId: putCategoryIcons
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ updated filename"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultUpdateResponseWithFilenames'
        "400":
          description: (Missing parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    post:
      tags:
      - category_icons
      summary: Upload Category Icon
      description: "Upload an icon image for the categories. Make sure this request\
        \ with Content-Type: multipart/form-data header instead of application/json.\
        \ Except from the file the POST request must also contain a \"filename\" value\
        \ with the final filename."
      operationId: uploadCategoryIcons
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/category_icons_body'
      responses:
        "201":
          description: "Upon success, returns the default success response with the\
            \ filename"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithFilename'
        "400":
          description: (No filename)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    delete:
      tags:
      - category_icons
      summary: Delete Category Icon
      description: Removes the category icon file from the server. This method will
        always provide a successful response even if the image file was not found.
      operationId: deleteCategoryIcon
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted filename"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithFilename'
        "400":
          description: (Missing parameters / Empty request body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /category_images:
    get:
      tags:
      - category_images
      summary: Get Category Images
      description: Get a list of all category image files which exists in the server's
        filesystem through a GET request.
      operationId: getCategoryImages
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns an array of filenames"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categoryImageGetResponse'
    put:
      tags:
      - category_images
      summary: Rename Image File
      description: Use this method to rename an existing image file.
      operationId: renameCategoryImages
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ renamed filename"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultUpdateResponseWithFilenames'
        "400":
          description: (Missing parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    post:
      tags:
      - category_images
      summary: Upload Category Image
      description: "Uploads an icon image for the categories. Make sure this request\
        \ with Content-Type: multipart/form-data header instead of application/json.\
        \ Except from the file the POST request must also contain a \"filename\" value\
        \ with the final filename."
      operationId: uploadCategoryImages
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/category_images_body'
        required: true
      responses:
        "201":
          description: "Upon success, returns the default success response with the\
            \ newly uploaded filename"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithFilename'
        "400":
          description: (Missing filename parameter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    delete:
      tags:
      - category_images
      summary: Delete Category Image
      description: Removes the category image file from the server. This method will
        always provide a successful response even if the image file was not found.
      operationId: deleteCategoryImages
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted filename"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithFilename'
        "400":
          description: (Missing parameter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /countries/{country_id}:
    get:
      tags:
      - countries
      summary: Get Countries (Single)
      description: Get a single country. This method is currently limited to only
        fetching a single country resource so make sure that you provide the country
        ID in the request URI.
      operationId: getCountries
      parameters:
      - name: country_id
        in: path
        description: The country ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the country resource."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCountry'
        "500":
          description: (Country not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "501":
          description: (The ID is missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /countries/{country_id}/zones:
    get:
      tags:
      - countries
      summary: Get Countries Zones
      description: Get a single countrys zones. This method is currently limited to
        only fetching a single countrys zone resource so make sure that you provide
        the country ID in the request URI.
      operationId: getCountriesZones
      parameters:
      - name: country_id
        in: path
        description: The country ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns an array of country zone resources."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXCountryZone'
                x-content-type: application/json
        "500":
          description: (Country not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "501":
          description: (The ID is missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /cronjobs/image_processing:
    post:
      tags:
      - cronjobs
      summary: Set ImageProcessing Trigger
      description: Set a trigger for the ImageProcessing cronjob to regenerate the
        product images using a POST request.
      operationId: setImageProcessingTrigger
      responses:
        "200":
          description: "Upon success, returns the default success response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithFilename'
        "400":
          description: (Cronjob data missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /customer_groups/{customer_group_id}:
    get:
      tags:
      - customer_groups
      summary: Get customer groups
      description: Get multiple or a single customer groups record through the GET
        method
      operationId: getCustomerGroups
      parameters:
      - name: customer_group_id
        in: path
        description: The customer group ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns an array of customer groups"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXCustomerGroup'
                x-content-type: application/json
        "400":
          description: (Missing or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (CustomerGroups Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    delete:
      tags:
      - customer_groups
      summary: Delete Customer Groups
      description: Removes a customer groups record from the system. This method will
        always return success even if the customer group does not exist.
      operationId: deleteCustomerGroups
      parameters:
      - name: customer_group_id
        in: path
        description: Customer Group ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ customer group ID that was deleted"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithCustomerGroupID'
        "400":
          description: (Customer group ID invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    patch:
      tags:
      - customer_groups
      summary: Updates CustomerGroup entity
      description: Use this method if you want to update an existing customer groups
        record.
      operationId: updateCustomerGroups
      parameters:
      - name: customer_group_id
        in: path
        description: The customer group ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The customer group
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXCustomerGroup'
        required: true
      responses:
        "200":
          description: "Upon success, returns the updated customer group"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomerGroup'
        "400":
          description: (Missing or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Entity not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCustomerGroup
  /customer_groups:
    post:
      tags:
      - customer_groups
      summary: Create CustomerGroups
      description: This method enables the creation of a new CustomerGroups into the
        system.
      operationId: createCustomerGroup
      requestBody:
        description: The customer group
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GXCustomerGroup'
        required: true
      responses:
        "201":
          description: "Upon success, returns the newly created customer group"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomerGroup'
        "400":
          description: (Failed to create customer group)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCustomerGroup
  /customers/{customer_ids}:
    delete:
      tags:
      - customers
      summary: Delete Customers
      description: "Removes customer records from the system. This method will always\
        \ return success even if the customers do not exist (due to internal CustomerWriteService\
        \ architecture decisions, which strive to avoid unnecessary failures). An\
        \ example script to demonstrate how to delete a customer is located under\
        \ `./docs/REST/samples/customer-service/remove_account.php` in the git clone."
      operationId: deleteCustomers
      parameters:
      - name: customer_ids
        in: path
        description: A comma-seperated list of customer IDs to delete
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted customer IDs"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerArrayDeleteResponse'
        "400":
          description: (customer ID missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /customers:
    get:
      tags:
      - customers
      summary: Get Customers
      description: "Get customer records through the GET method. This resource supports\
        \ the following GET parameters as described in the first section of documentation:\
        \ sorting minimization, search, pagination and links. Additionally you can\
        \ filter customers by providing the GET parameter \"type=guest\" or \"type=registree\"\
        . Sort and pagination GET parameters do not apply when a single customer record\
        \ is selected (e.g. api.php/v2/customers/84). An example script to demonstrate\
        \ how to fetch customer data is located under `./docs/REST/samples/customer-service/get_admin_data.php`\
        \ in the git clone **Important**: Currently the CustomerReadService does not\
        \ support searching in address information of a customer."
      operationId: getCustomers
      parameters:
      - name: changed
        in: query
        description: "*Optional parameter*. If provided, receive a change history\
          \ of items that were **changed/deleted** at the given date."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: modified
        in: query
        description: "*Optional parameter*. If provided, receive a change history\
          \ of items that were **modified** at a given date."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: deleted
        in: query
        description: "*Optional parameter*. If provided, receive a change history\
          \ of items that were **deleted** at the given date."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns the an array of customers."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXCustomer'
                x-content-type: application/json
        "400":
          description: (Invalid Type Filter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Customer Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - customers
      summary: Update Customers (Multiple)
      description: "Use this method to update multiple existing customer records.\
        \ It takes an array of GXCustomer Objects, identified by their <b>id</b> property."
      operationId: updateCustomers
      requestBody:
        description: An array of products to update.
        content:
          '*/*':
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GXCustomerArray'
        required: true
      responses:
        "200":
          description: "Upon success, returns an array of the updated customers"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerArrayPutResponse'
        "400":
          description: (Missing data or ID invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCustomerArray
    post:
      tags:
      - customers
      summary: Create Customers
      description: "This method enables the creation of new customers (whether registree\
        \ or a guest). Additionally the user can provide new address information or\
        \ just set the id of an existing one. Check the examples bellow. An example\
        \ script to demonstrate the creation of a new customer is located under `./docs/REST/samples/customer-service/create_account.php`\
        \ in the git clone, another one to demonstrate the creation of a guest customer\
        \ is located under `./docs/REST/samples/customer-service/create_guest_account.php`."
      operationId: createCustomers
      requestBody:
        description: An array of customers
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GXCustomerArray'
        required: true
      responses:
        "201":
          description: "Upon success, returns the customer that was created"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerArrayPostResponse'
        "400":
          description: (Customer data missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "409":
          description: (Registree email already exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCustomerArray
  /customers/{customer_id}:
    get:
      tags:
      - customers
      summary: Get Customer (Single)
      description: "Get a single customer record through the GET method. This resource\
        \ supports the following GET parameters as described in the first section\
        \ of documentation: sorting minimization, search, pagination and links. Additionally\
        \ you can filter customers by providing the GET parameter \"type=guest\" or\
        \ \"type=registree\". Sort and pagination GET parameters do not apply when\
        \ a single customer record is selected (e.g. api.php/v2/customers/84). An\
        \ example script to demonstrate how to fetch customer data is located under\
        \ `./docs/REST/samples/customer-service/get_admin_data.php` in the git clone\
        \ **Important**: Currently the CustomerReadService does not support searching\
        \ in address information of a customer."
      operationId: getCustomer
      parameters:
      - name: customer_id
        in: path
        description: The customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the customer with the provided ID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomer'
        "400":
          description: (Invalid Type Filter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Customer Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - customers
      summary: Update Customer
      description: This method will update the information of an existing customer
        record. You will need to provide all the customer information with the request
        (except from password and customer id). Also note that you only have to include
        the "addressId" property. An example script to demonstrate how to update the
        admin accounts telephone number is located under `./docs/REST/samples/customer-service/update_admin_telephone.php`
        in the git clone.
      operationId: updateCustomer
      parameters:
      - name: customer_id
        in: path
        description: The customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the updated customer"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomer'
        "400":
          description: (Customer data missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Customer not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "409":
          description: (Customer email already exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /customers/search:
    post:
      tags:
      - customers
      summary: Search Customers
      description: Returns multiple customers that are respecting the given search
        condition. Further information about defining a search condition can be found
        in the <a href="/gambio-gx3-api/guides/search-example">Search Example</a>.
      operationId: searchCustomer
      requestBody:
        description: The search condition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCondition'
        required: true
      responses:
        "200":
          description: "Upon success, returns an array of customers"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXCustomer'
                x-content-type: application/json
      x-codegen-request-body-name: SearchCondition
  /emails/{email_id}:
    get:
      tags:
      - emails
      summary: Get Emails
      description: "Get a single email record through the GET method. This resource\
        \ supports the following GET parameters as described in the first section\
        \ of documentation: sorting minimization, search, pagination. Additionally\
        \ you can filter emails by providing the GET parameter \"state=pending\" or\
        \ \"state=sent\". These filter parameters do not apply when a single emails\
        \ record is selected (e.g. api.php/v2/emails/84) or when the emails are searched\
        \ by the \"q\" parameter. To see an example usage take a look at `docs/REST/samples/email-service/fetch_email.php`"
      operationId: getEmails
      parameters:
      - name: email_id
        in: path
        description: The email ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns an email"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomerEmail'
        "400":
          description: (Invalid Type Filter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Customer Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    post:
      tags:
      - emails
      summary: Send Email
      description: This method will send and save a new or an existing email to the
        system. If you include mail attachments then they must already exist in the
        server. You will need to provide the full path to the file. To see an example
        usage take a look at `docs/REST/samples/email-service/send_email.php`
      operationId: sendEmail
      parameters:
      - name: email_id
        in: path
        description: The email ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The email
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXCustomerEmail'
        required: false
      responses:
        "201":
          description: "Upon success, returns the email send"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomerEmail'
        "400":
          description: (Email data missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Email record not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCustomerEmail
    delete:
      tags:
      - emails
      summary: Delete Email
      description: Delete an email record from database. To see an example usage take
        a look at `docs/REST/samples/email-service/remove_email.php`.
      operationId: deleteEmail
      parameters:
      - name: email_id
        in: path
        description: The email ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted ID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithEmailID'
        "400":
          description: (Customer ID missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /emails:
    put:
      tags:
      - emails
      summary: Queue Email
      description: This method will queue a new email so that it can be send later
        (with the POST method). See the "post" method for parameter description. To
        see an example usage take a look at `docs/REST/samples/email-service/queue_email.php`
      operationId: queueEmail
      requestBody:
        description: The email
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXCustomerEmail'
        required: true
      responses:
        "200":
          description: "Upon success, returns the email that was queued."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXCustomerEmail'
        "400":
          description: (Email data missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXCustomerEmail
  /manufacturers/{manufacturer_id}:
    get:
      tags:
      - manufacturers
      summary: Get Manufacturers
      description: Get a single manufacturers record through the GET method
      operationId: getManufacturer
      parameters:
      - name: manufacturer_id
        in: path
        description: The manufacturers ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns a manufacturers"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXManufacturer'
        "400":
          description: (Missing or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Manufacturers Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    delete:
      tags:
      - manufacturers
      summary: Delete Manufacturers
      description: "Removes a manufacturers record from the system. This method will\
        \ always return success even if the manufacturers does not exist (due to internal\
        \ ManufacturersWriteService architecture decisions, which strive to avoid\
        \ unnecessary failures)."
      operationId: deleteManufacturers
      parameters:
      - name: manufacturer_id
        in: path
        description: The manufacturers ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted manufacturer ID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithManufacturersID'
        "500":
          description: (Manufacturer ID missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    patch:
      tags:
      - manufacturers
      summary: Updates Manufacturers
      description: Use this method if you want to update an existing manufacturers
        record.
      operationId: updateManufacturers
      parameters:
      - name: manufacturer_id
        in: path
        description: The manufacturer ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The manufacturer
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXManufacturer'
        required: true
      responses:
        "200":
          description: "Upon success, returns the updated manufacturer"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXManufacturer'
        "400":
          description: (Missing manufacturer data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Manufacturer not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "500":
          description: (Missing or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXManufacturer
  /manufacturers:
    get:
      tags:
      - manufacturers
      summary: Get Manufacturers (Multiple)
      description: Get multiple manufacturers record through the GET method
      operationId: getMultipleManufacturers
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns an array of manufacturers"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXManufacturer'
                x-content-type: application/json
        "400":
          description: (Missing or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Manufacturers Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    post:
      tags:
      - manufacturers
      summary: Create Manufacturers
      description: This method enables the creation of a new Manufacturers into the
        system.
      operationId: createManufacturers
      requestBody:
        description: The manufacturer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GXManufacturer'
        required: true
      responses:
        "201":
          description: "Upon success, returns the created manufacturer"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXManufacturer'
        "400":
          description: (Manufacturer data missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXManufacturer
  /manufacturers/search:
    post:
      tags:
      - manufacturers
      summary: Search Manufacturers
      description: Returns multiple manufacturers that are respecting the given search
        condition. Further information about defining a search condition can be found
        in the <a href="/gambio-gx3-api/guides/search-example">Search Example</a>.
      operationId: searchManufacturers
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: The search condition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCondition'
        required: true
      responses:
        "200":
          description: "Upon success, returns an array of categories"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXCategory'
                x-content-type: application/json
      x-codegen-request-body-name: SearchCondition
  /order_statuses/{order_status_id}:
    get:
      tags:
      - order_statuses
      summary: Get order statuses (Single)
      description: Get a single order status entries.
      operationId: getOrderStatus
      parameters:
      - name: order_status_id
        in: path
        description: The order status ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns an order status"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderStatus'
        "400":
          description: (Order status ID invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - order_statuses
      summary: Update Order Status
      description: This method updates a order status in the database.
      operationId: updateOrderStatuses
      parameters:
      - name: order_status_id
        in: path
        description: The order status ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The order status
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXOrderStatus'
        required: true
      responses:
        "201":
          description: "Upon success, returns the updated order status"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderStatus'
        "400":
          description: (Order status ID invalid or missing data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXOrderStatus
    delete:
      tags:
      - order_statuses
      summary: Delete Order Status
      description: Removes a order status record from the system. This method will
        always return success.
      operationId: deleteOrderStatuses
      parameters:
      - name: order_status_id
        in: path
        description: The order status ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ order status ID that was deleted"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithOrderStatusID'
        "400":
          description: (Order status ID invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /order_statuses:
    get:
      tags:
      - order_statuses
      summary: Get order statuses (Multiple)
      description: Get a multiple order status entries.
      operationId: getOrderStatuses
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns an array of order statuses"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXOrderStatus'
                x-content-type: application/json
        "400":
          description: (Order status ID invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    post:
      tags:
      - order_statuses
      summary: Create Order Status
      description: This method creates a new order status in the database.
      operationId: createOrderStatuses
      requestBody:
        description: The order status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GXOrderStatus'
        required: true
      responses:
        "201":
          description: "Upon success, returns the order status that was created"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderStatus'
        "400":
          description: (Order status data missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXOrderStatus
  /orders_history/{order_id}:
    get:
      tags:
      - orders_history
      summary: Get Order History (Single)
      description: Get a single order history record through a GET request.
      operationId: getOrdersHistory
      parameters:
      - name: order_id
        in: path
        description: The order ID to GET history for.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the order history resource"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXOrderStatusHistory'
                x-content-type: application/json
        "400":
          description: (Order History not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /parcel_services/{parcel_service_id}:
    get:
      tags:
      - parcel_services
      summary: Get Parcel Service (Single)
      description: Get a single parcel service record through the GET method.
      operationId: getSingleParcelServices
      parameters:
      - name: parcel_service_id
        in: path
        description: The parcel service ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the parcel service entity by given id"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXParcelService'
        "404":
          description: (Parcel service not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    put:
      tags:
      - parcel_services
      summary: Updates Parcel Service
      description: Use this method if you want to update an existing parcel service.
      operationId: updateParcelService
      parameters:
      - name: parcel_service_id
        in: path
        description: The parcel service ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The updated parcel service.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GXParcelService'
        required: true
      responses:
        "200":
          description: "Upon success, returns the updated parcel service"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXParcelService'
        "400":
          description: "(Missing or invalid id, missing or invalid request body)"
          content: {}
      x-codegen-request-body-name: GXParcelService
    delete:
      tags:
      - parcel_services
      summary: Delete Parcel Service
      description: Removes a parcel service entity from the system. This method will
        always return success even if the parcel service does not exist.
      operationId: deleteParcelService
      parameters:
      - name: parcel_service_id
        in: path
        description: The parcel service ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ deleted parcel service ID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithParcelServiceID'
        "400":
          description: (Missing or invalid id)
          content: {}
  /parcel_services:
    get:
      tags:
      - parcel_services
      summary: Get Parcel Services (Multiple)
      description: Get multiple parcel services records through the GET method.
      operationId: getMultipleParcelServices
      parameters:
      - name: per_page
        in: query
        description: "*Optional parameter*. If provided, limits the amount of records\
          \ in the response. Defaults to 50."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 50
      - name: page
        in: query
        description: "*Optional parameter*. If provided, displays the specified page.\
          \ Defaults to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
      - name: sort
        in: query
        description: "*Optional parameter*. Sorts by the desired properties. Maximum\
          \ sorting fields are 5. (prefix property with + for ascending, - for descending)"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: '*Optional parameter*. Search for a url-encoded keyword.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: '*Optional parameter*. If provided limits the properties to be
          included in the response.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: "Upon success, returns an array of parcel services"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXParcelService'
                x-content-type: application/json
    post:
      tags:
      - parcel_services
      summary: Create Parcel Service
      description: This method enables the creation of a new parcel service into the
        system.
      operationId: createParcelService
      requestBody:
        description: The created parcel service.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GXParcelService'
        required: true
      responses:
        "201":
          description: "Upon success, returns the newly parcel service offer"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXParcelService'
      x-codegen-request-body-name: GXParcelService
  /parcel_services/search:
    post:
      tags:
      - parcel_services
      summary: Search Parcel Services
      description: Returns multiple parcel services that are respecting the given
        search condition. Further information about defining a search condition can
        be found in the <a href="/gambio-gx3-api/guides/search-example">Search Example</a>.
      operationId: searchParcelService
      requestBody:
        description: The search condition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCondition'
        required: true
      responses:
        "200":
          description: "Upon success, returns an array of parcel services"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXParcelService'
                x-content-type: application/json
      x-codegen-request-body-name: SearchCondition
  /orders/{order_id}:
    get:
      tags:
      - orders
      summary: Get Order (Single)
      description: "Get a single order record through a GET request. This method supports\
        \ all the GET parameters that are mentioned in the \"Introduction\" section\
        \ of this documentation. Important: Whenever you make requests that will return\
        \ multiple orders the response will contain a smaller version of each order\
        \ record called order-list-item. This is done for better performance because\
        \ the creation of a complete order record takes significant time (many objects\
        \ are involved). If you still need the complete data of an order record you\
        \ will have to make an extra GET request with the ID provided."
      operationId: getOrders
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the order resource"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GXOrder'
                x-content-type: application/json
    put:
      tags:
      - orders
      summary: Update Order
      description: "Use this method to update an existing order record. It uses the\
        \ complete order JSON resource so it might be useful to fetch it through a\
        \ GET request, alter its values and PUT it back in order to perform the update\
        \ operation. Take a look in the POST method for more detailed explanation\
        \ on every resource property. To see an example usage take a look at `docs/REST/samples/order-service/update_order.php`"
      operationId: updateOrder
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the updated order"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrder'
        "400":
          description: (Missing data or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
    delete:
      tags:
      - orders
      summary: Delete Order
      description: Remove an entire Order record from the database. This method will
        also remove the order-items along with their attributes and the order-total
        records. To see an example usage take a look at `docs/REST/samples/order-service/remove_order.php`
      operationId: deleteOrders
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ order ID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithOrderID'
        "400":
          description: (Order ID missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /orders/{order_id}/items/{item_id}:
    get:
      tags:
      - orders
      summary: Get Order Item (Single)
      description: "Get a single order item from an existing order. All the GET manipulation\
        \ parameters are applied with this method (search, sort, minimize, paginate\
        \ etc)."
      operationId: getOrderItem
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: The item ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns a single order item"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderItem'
    put:
      tags:
      - orders
      summary: Update Order Item
      description: Use this method to update an existing order item. Use the same
        order item JSON format as in the POST method.
      operationId: updateOrderItems
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: The item ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The order item
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXOrderItem'
        required: true
      responses:
        "200":
          description: "Upon success, returns the updated orders items"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderItem'
        "400":
          description: (Missing data or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Order item ID does not exist in given order)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXOrderItem
    delete:
      tags:
      - orders
      summary: Delete Order Item
      description: Use this method to remove an order item from an existing order.
      operationId: deleteOrderItems
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: The item ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with order\
            \ and item ID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithOrderIDAndOrderItemID'
        "400":
          description: (Missing ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Item not found inside the order)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /orders/{order_id}/items/{item_id}/attributes/{attribute_id}/Property:
    get:
      tags:
      - orders
      summary: Get Order Item Attribute/Property (Single)
      description: Returns single order item attribute/property record through a GET
        request. This method supports all the GET parameters that are mentioned in
        the "Introduction" section of this documentation.
      operationId: getOrdersItemsAttributeProperty
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: The item ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: attribute_id
        in: path
        description: The attribute ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the order items attributes"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderItemAttributes'
    put:
      tags:
      - orders
      summary: Update Order Item Attribute/Property
      description: Use this method to update an existing order item attribute record.
        It uses the same attribute JSON format as in the "Create Order Item Attribute"
        method.
      operationId: updateOrdersItemsAttributesProperty
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: The item ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: attribute_id
        in: path
        description: The attribute ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The order item attributes
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXOrderItemAttributes'
        required: true
      responses:
        "200":
          description: "Upon success, returns the updated order item attributes"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderItemAttributes'
        "400":
          description: (Missing data or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXOrderItemAttributes
    delete:
      tags:
      - orders
      summary: Delete Order Item Attribute/Property
      description: Removes a single order item attribute/property entry from an existing
        order item record.
      operationId: removeOrdersItemsAttribute
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: The item ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: attribute_id
        in: path
        description: The attribute ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ relevant IDs"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithOrderIDAndOrderItemIDAndOrderItemAttributeID'
        "400":
          description: (Missing ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /orders/{order_id}/totals/{total_id}:
    put:
      tags:
      - orders
      summary: Update Order Total
      description: Use this method to update an existing order total. Use the same
        order total JSON format as in the POST method.
      operationId: updateOrderTotal
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: total_id
        in: path
        description: The total ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: The order
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GXOrderTotal'
        required: true
      responses:
        "200":
          description: "Upon success, returns the updated order totals"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GXOrderTotal'
        "400":
          description: (Missing data or invalid ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Provided order total not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
      x-codegen-request-body-name: GXOrder
    delete:
      tags:
      - orders
      summary: Delete Order Total
      description: Use this method to remove an order total from an existing order.
      operationId: deleteOrderTotals
      parameters:
      - name: order_id
        in: path
        description: The order ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: total_id
        in: path
        description: The total ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: "Upon success, returns the default success response with the\
            \ order and order total ID"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultSuccessResponseWithOrderIDAndOrderTotalID'
        "400":
          description: (Order total ID missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
        "404":
          description: (Order total ID does not exist in given order)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultErrorResponse'
  /orders:
    get:
      tags:
      - orders
      summary: Get Orders (Multiple)
      description: "Get multiple order list item records through a GET request. This\
        \ method supports all the GET parameters that are mentioned in the \"Introduction\"\
        \ section of this documentation. Important: Whenever you make requests that\
        \ will return multiple orders the response will contain a smaller version\
        \ of each order record called order-list-item. This is done for better performance\
        \ because the creation of a complete order record takes significant time (many\
        \ objects are involved). If you still need the complete data of an order record\
        \ you will have to make an extra GET request with the ID provided."
      operationId: getOrdersMultiple
      parameters:
      - name: changed
        in: query
        description: "*Optional parameter*. If provided, receive a change history\
[...]
